/* General styles */

@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kantumruy Pro', sans-serif ;
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: #20A39E;
  color: #333;
  overflow-x: hidden;
  position: relative;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  min-height: calc(100vh - 90px); /* Account for navbar height */
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFBA49;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
}

/* Dashboard */
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  min-width: 250px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Additional Info */
.additional-info {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.additional-info h2 {
  margin-bottom: 10px;
  color: #EF5B5B;
}

.additional-info ul {
  list-style-type: none;
}

.additional-info li {
  margin: 5px 10px;
}

/* Footer */
footer {
  margin-top: 20px;
  text-align: center;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .card {
    width: 80%;
  }
}

/* Navigation Icons */
.nav-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.icon {
  background-color: #E3F2FD;
  border: none;
  color: #FFBA49;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/* Images */
.card-image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px auto;
}
