# IDE - VSCode
.vscode/

# Documentation
README.md
LICENSE

# Dependencies
/node_modules
/vendor
package-lock.json
yarn.lock

# Environment files
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local
venv*/
.venv*/
env*/
.env.*/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output & caches
/dist
/build
/out
/embedded/build
/embedded/.cache

# System Files
.DS_Store
Thumbs.db

/middleware/middleware
/middleware/middleware.exe
/middleware/users.db

.idea/
.idea

# Certificates
/certs
/certs/*.pem
/embedded/main/certs
/embedded/main/certs/*.pem
