<!-- components/navbar.html -->
<footer id="bottom-navbar">
    <nav>
        <ul>
            <li>
                <a href="#" id="nav-home"
                    ><img src="../assets/icons/building.png" alt="Home"
                /></a>
            </li>
            <li>
                <a href="#" id="nav-disease-detection"
                    ><img src="../assets/icons/disease.png" alt="AI Disease Detection"
                /></a>
            </li>
            <li>
                <a href="#" id="nav-settings"
                    ><img src="../assets/icons/setting.png" alt="Settings"
                /></a>
            </li>
        </ul>
    </nav>
</footer>
